/* .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
} */

.genre-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.movie-item img.movie-thumbnail {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 4px;
}

.movie-title h3 {
    margin: 10px 0;
    text-align: center;
}

.movie-credits p {
    font-size: 0.9rem;
    text-align: center;
}

/* Pagination Container */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Pagination List */
.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Adjust the gap between pagination links */
}

/* Pagination List Items */
.pagination li {
    border: 1px solid #ddd; /* Border color for pagination items */
    border-radius: 5px; /* Rounded corners for pagination items */
}

/* Pagination Links */
.pagination a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #007bff; /* Link color */
}

.pagination a:hover {
    background-color: #f8f9fa; /* Background color on hover */
}

/* Active Pagination Link */
.pagination .current {
    background-color: #007bff; /* Background color for the active page */
    color: white; /* Text color for the active page */
    border-color: #007bff; /* Border color for the active page */
}

/* Disabled Pagination Links */
.pagination .disabled {
    color: #6c757d; /* Text color for disabled links */
    pointer-events: none;
    background-color: #fff; /* Background color for disabled links */
}